
.swiper {
    width: 100%;
    height: 100vh !important;
    position: relative;
  }



  .swiper .swiper-slide img{
    width: 100%;
    height: 100vh !important;
  }

 

 

  .active{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800 !important;
    font-size: 20px;
    line-height: 23px;
    margin-left: auto;
    width: 50%;
    color: #FFFFFF !important;
    border-bottom:2px solid #F33232;
  }

  .cover h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90px;
color: #FFFFFF;
  }

  
  .cover p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
      }


li .nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100 !important;
    font-size: 20px;
    line-height: 23px;
    color: #ffffffca;

}

 



 #loginForm{
    width: 30% !important;
    height: 65% !important;
    background: #FFFFFF;
    border-radius: 20px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 99999999999999999999999999999999999999999999999999999;
 }

 #loginForm .container{
    margin: 0 20% 0 5%;
 }

 #loginForm h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
    padding-top: 7% !important;
}

 #loginForm p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 5px 0px 20px 0px ;
    color: #000000;
    opacity: 0.63;
 }

 #loginForm label{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 20px;
color: #000000;
 }

 #loginForm input{
    border: none !important;
    border-bottom: 1px solid #00000031 !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 25px;
    opacity: 0.8;
    width: 80%;
}



 #loginForm .rememberme{
    margin-top: 0px !important;
 } 

 #loginForm .rememberme input{
  margin: 0px;
  display: inline !important;
  width: 10%;
 }







.show-pass{
  position: absolute;
  top: 18% !important ;
  right:25%;
  font-size: 20px;
}



.close {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 0;
    font-size: 20px;
}



  /* Extra small devices (phones, 600px and down) */
  @media all and (max-width:480px ) {
    .cover h2{
        font-size: 30px;
        line-height: 30px;
          }
        
          .cover p{
        font-size: 14px;
              }

              .navbar25{
                margin-right:30px ;
              }

              li .nav-link {
                
                font-size: 12px;
                line-height: 23px;
                

            }
            .active{
                width: 200%;
            }

            .logo{
                width: 100%;
             }

             #loginForm{
              width: 90% !important;
              height: 80% !important;
       
           }

      }
    
      @media all  and (min-width: 480px) and (max-width:760px) {
        .cover h2{
            font-size: 30px;
            line-height: 30px;
              }
            
              .cover p{
            font-size: 14px;
                  }
    
                  .navbar25{
                    margin-right:30px ;
                  }
    
                  li .nav-link {
                    
                    font-size: 12px;
                    line-height: 23px;
                    
    
                }
                .active{
                    width: 200%;
                }
    
                .logo{
                    width: 100%;
                 }
    
      }
    